In [ ]:
! gdown 1CDqqyKV9BvrvnuR1l8HVz0aYuM4yOTUr
! mv _sqlite3.cpython-38-x86_64-linux-gnu.so /usr/lib/python3.8/lib-dynload/
import os
os.kill(os.getpid(), 9)

Downloading...
From: https://drive.google.com/uc?id=1CDqqyKV9BvrvnuR1l8HVz0aYuM4yOTUr
To: /content/_sqlite3.cpython-38-x86_64-linux-gnu.so
100% 6.59M/6.59M [00:00<00:00, 96.8MB/s]

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
sqlite3.sqlite_version

'3.40.0'

In [ ]:
class SQL:

  def __init__(self,db=""):
    self.db = db

  def conn(self):
    try:
      if self.db == "":
        con = sqlite3.connect('db')
        return con
      else:
        con = sqlite3.connect(self.db)
    except Exception as e:
            return f"connection error : {str(e)}"

  def table_list(self):
    con = self.conn()
    cursor = con.cursor()
    q = "SELECT name FROM sqlite_master WHERE type='table';"
    cursor.execute(q)
    print(cursor.fetchall())
    
  def drop_table(self, table_name):
    try:
      con = self.conn()
      cursor = con.cursor()
      q = f"drop table if exists {table_name}"
      cursor.execute(q)
    except Exception as e:
            con.close()
            return f"db not Droped error : {str(e)}" 

  def create_table(self, query):
    con = self.conn()
    cursor = con.cursor()
    cursor.executescript(query)
  
  def columns(self, table_name, query=""):
    con = self.conn()
    if query == "":
      query = f"select * from {table_name} "
    return self.select(query)

  def select(self, query):
    con = self.conn()
    return pd.read_sql(query, con)

In [ ]:
n = SQL()
n.conn()

In [ ]:
query = '''
drop table if exists test ;
CREATE TABLE test (
    Email VARCHAR(255) NOT NULL,
    First_Name CHAR(25) NOT NULL,
    Last_Name CHAR(25),
    Score INT);'''

n.create_table(query)

In [ ]:
n.drop_table('test')

In [ ]:
n.table_list()

[('test',)]

In [ ]:
n.columns('test')

Empty DataFrame
Columns: [Email, First_Name, Last_Name, Score]
Index: []

Empty DataFrame
Columns: [Email, First_Name, Last_Name, Score]
Index: []